<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.FcUnitMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.FcUnit">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="estateCode" column="estate_code" jdbcType="VARCHAR"/>
            <result property="buildingCode" column="building_code" jdbcType="VARCHAR"/>
            <result property="unitCode" column="unit_code" jdbcType="VARCHAR"/>
            <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
            <result property="startFloor" column="start_floor" jdbcType="INTEGER"/>
            <result property="stopFloor" column="stop_floor" jdbcType="INTEGER"/>
            <result property="startCellId" column="start_cell_id" jdbcType="INTEGER"/>
            <result property="stopCellId" column="stop_cell_id" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,estate_code,building_code,
        unit_code,unit_name,start_floor,
        stop_floor,start_cell_id,stop_cell_id,
        remark
    </sql>
</mapper>
