<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.FyMoneyTemporary04Mapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.FyMoneyTemporary04">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="moneySettingCode" column="money_setting_code" jdbcType="INTEGER"/>
            <result property="cellId" column="cell_id" jdbcType="INTEGER"/>
            <result property="estateName" column="estate_name" jdbcType="VARCHAR"/>
            <result property="buildingName" column="building_name" jdbcType="VARCHAR"/>
            <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
            <result property="cellName" column="cell_name" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="boxId" column="box_id" jdbcType="VARCHAR"/>
            <result property="shareMoney" column="share_money" jdbcType="DOUBLE"/>
            <result property="currentShareNumber" column="current_share_number" jdbcType="DOUBLE"/>
            <result property="priceUnit" column="price_unit" jdbcType="DOUBLE"/>
            <result property="currentPayStartDate" column="current_pay_start_date" jdbcType="TIMESTAMP"/>
            <result property="currentPayStopDate" column="current_pay_stop_date" jdbcType="TIMESTAMP"/>
            <result property="currentPayLimitDate" column="current_pay_limit_date" jdbcType="TIMESTAMP"/>
            <result property="receiveCycle" column="receive_cycle" jdbcType="INTEGER"/>
            <result property="primaryIdentify" column="primary_identify" jdbcType="VARCHAR"/>
            <result property="operatePerson" column="operate_person" jdbcType="VARCHAR"/>
            <result property="operateDate" column="operate_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,money_setting_code,cell_id,
        estate_name,building_name,unit_name,
        cell_name,customer_name,box_id,
        share_money,current_share_number,price_unit,
        current_pay_start_date,current_pay_stop_date,current_pay_limit_date,
        receive_cycle,primary_identify,operate_person,
        operate_date
    </sql>
</mapper>
