<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.FyMoneyTemporary03Mapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.FyMoneyTemporary03">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="moneySettingCode" column="money_setting_code" jdbcType="INTEGER"/>
            <result property="recordName" column="record_name" jdbcType="VARCHAR"/>
            <result property="recordRemark" column="record_remark" jdbcType="VARCHAR"/>
            <result property="publicBoxName" column="public_box_name" jdbcType="VARCHAR"/>
            <result property="priceUnit" column="price_unit" jdbcType="DOUBLE"/>
            <result property="shareNumber" column="share_number" jdbcType="DOUBLE"/>
            <result property="lastReadNumber" column="last_read_number" jdbcType="DOUBLE"/>
            <result property="currentReadNumber" column="current_read_number" jdbcType="DOUBLE"/>
            <result property="currentUseNumber" column="current_use_number" jdbcType="DOUBLE"/>
            <result property="shouldPay" column="should_pay" jdbcType="DOUBLE"/>
            <result property="lastPayStopDate" column="last_pay_stop_date" jdbcType="TIMESTAMP"/>
            <result property="currentPayStartDate" column="current_pay_start_date" jdbcType="TIMESTAMP"/>
            <result property="currentPayStopDate" column="current_pay_stop_date" jdbcType="TIMESTAMP"/>
            <result property="currentPayLimitDate" column="current_pay_limit_date" jdbcType="TIMESTAMP"/>
            <result property="receiveCycle" column="receive_cycle" jdbcType="INTEGER"/>
            <result property="operatePerson" column="operate_person" jdbcType="VARCHAR"/>
            <result property="operateDate" column="operate_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,money_setting_code,record_name,
        record_remark,public_box_name,price_unit,
        share_number,last_read_number,current_read_number,
        current_use_number,should_pay,last_pay_stop_date,
        current_pay_start_date,current_pay_stop_date,current_pay_limit_date,
        receive_cycle,operate_person,operate_date
    </sql>
</mapper>
