<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.FyShareUserDetailMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.FyShareUserDetail">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="standingBookId" column="standing_book_id" jdbcType="DOUBLE"/>
            <result property="cellId" column="cell_id" jdbcType="INTEGER"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="boxId" column="box_id" jdbcType="VARCHAR"/>
            <result property="shareMoney" column="share_money" jdbcType="DOUBLE"/>
            <result property="currentShareNumber" column="current_share_number" jdbcType="DOUBLE"/>
            <result property="currentPayStartDate" column="current_pay_start_date" jdbcType="TIMESTAMP"/>
            <result property="currentPayStopDate" column="current_pay_stop_date" jdbcType="TIMESTAMP"/>
            <result property="currentPayLimitDate" column="current_pay_limit_date" jdbcType="TIMESTAMP"/>
            <result property="receiveIdentify" column="receive_identify" jdbcType="VARCHAR"/>
            <result property="priceUnit" column="price_unit" jdbcType="DOUBLE"/>
            <result property="costIdentify" column="cost_identify" jdbcType="CHAR"/>
            <result property="receiveId" column="receive_id" jdbcType="VARCHAR"/>
            <result property="refundNumber" column="refund_number" jdbcType="INTEGER"/>
            <result property="receiveCycle" column="receive_cycle" jdbcType="INTEGER"/>
            <result property="derateMoney" column="derate_money" jdbcType="DOUBLE"/>
            <result property="shouldPay" column="should_pay" jdbcType="DOUBLE"/>
            <result property="invalidNumber" column="invalid_number" jdbcType="INTEGER"/>
            <result property="derateDelayMoney" column="derate_delay_money" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,standing_book_id,cell_id,
        customer_name,box_id,share_money,
        current_share_number,current_pay_start_date,current_pay_stop_date,
        current_pay_limit_date,receive_identify,price_unit,
        cost_identify,receive_id,refund_number,
        receive_cycle,derate_money,should_pay,
        invalid_number,derate_delay_money
    </sql>
</mapper>
