<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.TblAttuploadMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.TblAttupload">
            <id property="attid" column="attID" jdbcType="INTEGER"/>
            <result property="attname" column="attName" jdbcType="VARCHAR"/>
            <result property="attnewname" column="attNewName" jdbcType="VARCHAR"/>
            <result property="attkey" column="attKey" jdbcType="VARCHAR"/>
            <result property="attclass" column="attClass" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        attID,attName,attNewName,
        attKey,attClass
    </sql>
</mapper>
