<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.TblDeptMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.TblDept">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="deptCode" column="dept_code" jdbcType="VARCHAR"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="deptLeader" column="dept_leader" jdbcType="VARCHAR"/>
            <result property="deptPhone" column="dept_phone" jdbcType="VARCHAR"/>
            <result property="deptType" column="dept_type" jdbcType="BIGINT"/>
            <result property="deptFax" column="dept_fax" jdbcType="VARCHAR"/>
            <result property="deptParent" column="dept_parent" jdbcType="INTEGER"/>
            <result property="deptLine" column="dept_line" jdbcType="VARCHAR"/>
            <result property="deptPrivileges" column="dept_privileges" jdbcType="VARCHAR"/>
            <result property="deptManagePrivileges" column="dept_manage_privileges" jdbcType="CHAR"/>
            <result property="organCategory" column="organ_category" jdbcType="CHAR"/>
            <result property="deptPersonNumber" column="dept_person_number" jdbcType="INTEGER"/>
            <result property="inputPerson" column="input_person" jdbcType="VARCHAR"/>
            <result property="inputTime" column="input_time" jdbcType="TIMESTAMP"/>
            <result property="deptRemark" column="dept_remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dept_code,dept_name,
        dept_leader,dept_phone,dept_type,
        dept_fax,dept_parent,dept_line,
        dept_privileges,dept_manage_privileges,organ_category,
        dept_person_number,input_person,input_time,
        dept_remark
    </sql>
</mapper>
