<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.TblGroupRecordMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.TblGroupRecord">
            <result property="groupRecordId" column="group_record_id" jdbcType="INTEGER"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="groupType" column="group_type" jdbcType="VARCHAR"/>
            <result property="groupDesc" column="group_desc" jdbcType="VARCHAR"/>
            <result property="groupMemberId" column="group_member_id" jdbcType="VARCHAR"/>
            <result property="groupMemberName" column="group_member_name" jdbcType="VARCHAR"/>
            <result property="createPerson" column="create_person" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        group_record_id,group_name,group_type,
        group_desc,group_member_id,group_member_name,
        create_person,create_date
    </sql>
</mapper>
