<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.TblLoginLogMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.TblLoginLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="loginDate" column="login_date" jdbcType="TIMESTAMP"/>
            <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
            <result property="loginStatus" column="login_status" jdbcType="VARCHAR"/>
            <result property="openMk" column="open_mk" jdbcType="BIGINT"/>
            <result property="loginMechineName" column="login_mechine_name" jdbcType="VARCHAR"/>
            <result property="loginPort" column="login_port" jdbcType="VARCHAR"/>
            <result property="loginDoor" column="login_door" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,login_date,login_ip,
        login_status,open_mk,login_mechine_name,
        login_port,login_door
    </sql>
</mapper>
