<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.TblMyNoteMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.TblMyNote">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createPersonId" column="create_person_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="isPrivate" column="is_private" jdbcType="TINYINT"/>
            <result property="isRepeat" column="is_repeat" jdbcType="TINYINT"/>
            <result property="repeat" column="repeat" jdbcType="CHAR"/>
            <result property="repeatStop" column="repeat_stop" jdbcType="TIMESTAMP"/>
            <result property="isRemain" column="is_remain" jdbcType="TINYINT"/>
            <result property="remainDay" column="remain_day" jdbcType="SMALLINT"/>
            <result property="startDate" column="start_date" jdbcType="TIMESTAMP"/>
            <result property="stopDate" column="stop_date" jdbcType="TIMESTAMP"/>
            <result property="orderPerson" column="order_person" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_person_id,title,
        type,place,content,
        is_private,is_repeat,repeat,
        repeat_stop,is_remain,remain_day,
        start_date,stop_date,order_person,
        create_date
    </sql>
</mapper>
