<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.TblMysetMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.TblMyset">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="idRemain" column="id_remain" jdbcType="CHAR"/>
            <result property="remainInterval" column="remain_interval" jdbcType="VARCHAR"/>
            <result property="remainWindowOpen" column="remain_window_open" jdbcType="CHAR"/>
            <result property="messageRemain" column="message_remain" jdbcType="VARCHAR"/>
            <result property="defaultMain" column="default_main" jdbcType="CHAR"/>
            <result property="emailAll" column="email_all" jdbcType="VARCHAR"/>
            <result property="smtpAddr" column="smtp_addr" jdbcType="VARCHAR"/>
            <result property="loginUser" column="login_user" jdbcType="VARCHAR"/>
            <result property="loginPwd" column="login_pwd" jdbcType="VARCHAR"/>
            <result property="mailPort" column="mail_port" jdbcType="VARCHAR"/>
            <result property="sendPerson" column="send_person" jdbcType="VARCHAR"/>
            <result property="pageCount" column="page_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,id_remain,
        remain_interval,remain_window_open,message_remain,
        default_main,email_all,smtp_addr,
        login_user,login_pwd,mail_port,
        send_person,page_count
    </sql>
</mapper>
