<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.WyCarManageMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.WyCarManage">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="carLicnece" column="car_licnece" jdbcType="VARCHAR"/>
            <result property="stopCarLicence" column="stop_car_licence" jdbcType="VARCHAR"/>
            <result property="carOwnerName" column="car_owner_name" jdbcType="VARCHAR"/>
            <result property="carport" column="carport" jdbcType="VARCHAR"/>
            <result property="inDate" column="in_date" jdbcType="TIMESTAMP"/>
            <result property="outDate" column="out_date" jdbcType="TIMESTAMP"/>
            <result property="agent" column="agent" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="company" column="company" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,car_licnece,stop_car_licence,
        car_owner_name,carport,in_date,
        out_date,agent,remark,
        company
    </sql>
</mapper>
