<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.WyCarSpaceRentMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.WyCarSpaceRent">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="constractId" column="constract_id" jdbcType="VARCHAR"/>
            <result property="carSpaceId" column="car_space_id" jdbcType="VARCHAR"/>
            <result property="rentStartDate" column="rent_start_date" jdbcType="TIMESTAMP"/>
            <result property="rentStopDate" column="rent_stop_date" jdbcType="TIMESTAMP"/>
            <result property="rentMonth" column="rent_month" jdbcType="DOUBLE"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="carLicenceId" column="car_licence_id" jdbcType="VARCHAR"/>
            <result property="stopCarLicence" column="stop_car_licence" jdbcType="VARCHAR"/>
            <result property="rentPerMonth" column="rent_per_month" jdbcType="DOUBLE"/>
            <result property="serviceMoneyPerMonth" column="service_money_per_month" jdbcType="DOUBLE"/>
            <result property="signDate" column="sign_date" jdbcType="TIMESTAMP"/>
            <result property="startDate" column="start_date" jdbcType="TIMESTAMP"/>
            <result property="stopDate" column="stop_date" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="agentMoney" column="agent_money" jdbcType="DOUBLE"/>
            <result property="isRentMoney" column="is_rent_money" jdbcType="CHAR"/>
            <result property="contractAttach" column="contract_attach" jdbcType="VARCHAR"/>
            <result property="createPerson" column="create_person" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updatePerson" column="update_person" jdbcType="VARCHAR"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,constract_id,car_space_id,
        rent_start_date,rent_stop_date,rent_month,
        user_id,user_name,car_licence_id,
        stop_car_licence,rent_per_month,service_money_per_month,
        sign_date,start_date,stop_date,
        status,remark,agent_money,
        is_rent_money,contract_attach,create_person,
        create_date,update_person,update_date
    </sql>
</mapper>
