<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.WyEstateIncomeProjectMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.WyEstateIncomeProject">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="incomeProject" column="income_project" jdbcType="VARCHAR"/>
            <result property="parentIncomeId" column="parent_income_id" jdbcType="INTEGER"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="createPerson" column="create_person" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updatePerson" column="update_person" jdbcType="VARCHAR"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,income_project,parent_income_id,
        desc,create_person,create_date,
        update_person,update_date
    </sql>
</mapper>
