<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.WyEstateOutDetailSubMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.WyEstateOutDetailSub">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="belongOutProjectId" column="belong_out_project_id" jdbcType="BIGINT"/>
            <result property="receiveDate" column="receive_date" jdbcType="TIMESTAMP"/>
            <result property="checkAdvice" column="check_advice" jdbcType="VARCHAR"/>
            <result property="checkPersonId" column="check_person_id" jdbcType="VARCHAR"/>
            <result property="checkPersonName" column="check_person_name" jdbcType="VARCHAR"/>
            <result property="checkDate" column="check_date" jdbcType="TIMESTAMP"/>
            <result property="checkStatus" column="check_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,belong_out_project_id,receive_date,
        check_advice,check_person_id,check_person_name,
        check_date,check_status
    </sql>
</mapper>
