<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.WyFireAccidentMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.WyFireAccident">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="accidentDate" column="accident_date" jdbcType="TIMESTAMP"/>
            <result property="accidentPlace" column="accident_place" jdbcType="VARCHAR"/>
            <result property="occurReason" column="occur_reason" jdbcType="VARCHAR"/>
            <result property="relatedPerson" column="related_person" jdbcType="VARCHAR"/>
            <result property="handleResult" column="handle_result" jdbcType="VARCHAR"/>
            <result property="loss" column="loss" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="company" column="company" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,accident_date,accident_place,
        occur_reason,related_person,handle_result,
        loss,remark,company
    </sql>
</mapper>
