<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.ZhCustomerAskFixMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.ZhCustomerAskFix">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="cellId" column="cell_id" jdbcType="VARCHAR"/>
            <result property="proposer" column="proposer" jdbcType="VARCHAR"/>
            <result property="proposerDate" column="proposer_date" jdbcType="TIMESTAMP"/>
            <result property="askFixContent" column="ask_fix_content" jdbcType="VARCHAR"/>
            <result property="checkPerson" column="check_person" jdbcType="VARCHAR"/>
            <result property="fixMoney" column="fix_money" jdbcType="DOUBLE"/>
            <result property="checkDate" column="check_date" jdbcType="TIMESTAMP"/>
            <result property="checkAdvice" column="check_advice" jdbcType="VARCHAR"/>
            <result property="leaderPhone" column="leader_phone" jdbcType="VARCHAR"/>
            <result property="executeCompany" column="execute_company" jdbcType="VARCHAR"/>
            <result property="executeStartDate" column="execute_start_date" jdbcType="TIMESTAMP"/>
            <result property="leader" column="leader" jdbcType="VARCHAR"/>
            <result property="checkedPerson" column="checked_person" jdbcType="VARCHAR"/>
            <result property="executeStopDate" column="execute_stop_date" jdbcType="TIMESTAMP"/>
            <result property="checkedDate" column="checked_date" jdbcType="TIMESTAMP"/>
            <result property="checkedAdvice" column="checked_advice" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createPerson" column="create_person" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="identify" column="identify" jdbcType="CHAR"/>
            <result property="confirmPerson" column="confirm_person" jdbcType="VARCHAR"/>
            <result property="confirmDate" column="confirm_date" jdbcType="TIMESTAMP"/>
            <result property="checkedAttach" column="checked_attach" jdbcType="VARCHAR"/>
            <result property="referAttach" column="refer_attach" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cell_id,proposer,
        proposer_date,ask_fix_content,check_person,
        fix_money,check_date,check_advice,
        leader_phone,execute_company,execute_start_date,
        leader,checked_person,execute_stop_date,
        checked_date,checked_advice,remark,
        status,create_person,create_date,
        identify,confirm_person,confirm_date,
        checked_attach,refer_attach,phone_number
    </sql>
</mapper>
