<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creater.manageserver.mapper.ZhRentContractChangeMapper">

    <resultMap id="BaseResultMap" type="com.creater.manageserver.model.domain.ZhRentContractChange">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="contractId" column="contract_id" jdbcType="INTEGER"/>
            <result property="changeProject" column="change_project" jdbcType="VARCHAR"/>
            <result property="oldValue" column="old_value" jdbcType="VARCHAR"/>
            <result property="newValue" column="new_value" jdbcType="VARCHAR"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="changePerson" column="change_person" jdbcType="VARCHAR"/>
            <result property="changeDate" column="change_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contract_id,change_project,
        old_value,new_value,desc,
        change_person,change_date
    </sql>
</mapper>
