<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.TblAttuploadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.TblAttupload">
        <id column="attID" property="attid" />
        <result column="attName" property="attname" />
        <result column="attNewName" property="attnewname" />
        <result column="attKey" property="attkey" />
        <result column="attClass" property="attclass" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        attID, attName, attNewName, attKey, attClass
    </sql>

</mapper>
